<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">

    <link rel="stylesheet" href="webjars/jqcloud2/2.0.1//dist/jqcloud.min.css">
    <link rel="stylesheet" href="webjars/bootstrap/3.3.7/css/bootstrap.min.css">
    <link rel="stylesheet" href="css/style.css">

    <script src="webjars/jquery/3.1.1/dist/jquery.min.js"></script>
    <script src="webjars/bootstrap/3.3.7/js/bootstrap.min.js"></script>
    <script src="webjars/jqcloud2/2.0.1/dist/jqcloud.min.js"></script>
    <script src="webjars/angular/1.5.8/angular.min.js"></script>
    <script src="webjars/angular-jqcloud/1.0.3/angular-jqcloud.js"></script>
    <script src="js/application.js"></script>

</head>

<body ng-app="app" ng-controller="controller" ng-cloak>

<div class="container">
    <h2>Word Cloud</h2>
    <div class="panel panel-default">
        <div class="panel-body">
            <jqcloud words="words" id="wordcloud" auto-resize="true" steps="7"
                     font-size="{from:0.09, to:0.02}"></jqcloud>
        </div>
    </div>

    <h2>Tweets </h2>
    <div class="panel panel-default">
        <div ng-repeat="tweet in tweets">
            <blockquote>
                {{ tweet.text }}
            </blockquote>
        </div>
    </div>
</div>





</body>
</html>